.header {
    padding-left: 10px;
}

.navbar {
    display: flex;
    padding-left: 10px;
}

.navbar-button > a:any-link{
    background-color: lightgrey;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.navbar-button > a:hover{
    background-color: darkgray;
    color: white;
}

.main {
    display: flex;
}

.main > div {
    padding: 10px;
}