.header {
    background-color: white;
    padding-bottom: 8px;
}

.header > h1 {
    padding-left: 16px;
}

.navbar {
    display: flex;
    border-bottom: 2px solid lightgray;
    padding-bottom: 7px;
    padding-left: 8px;
}

.navbar-button > a:any-link{
    background-color: white;
    border-bottom: 2px solid lightgray;
    color: black;
    padding: 8px;
    text-align: center;
    text-decoration: none;
}

.navbar-button > a:hover {
    background-color: lightgray;
    color: black;
}

.home-main {
    display: flex;
}

.home-main > div {
    padding: 8px;
}

.proj-link {
    display: flex;
}

.proj-link > div {
    padding: 10px;
}

.proj-img > a > img {
    height: auto;
    max-width: 200px;
}

.proj-textbox {
    position: relative;
    flex-grow: 1;
    width: 200px;
}

.proj-text {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.img-main {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    gap: 1em;
    padding: 8px;
    justify-content: center;
}

.img-main > div > img {
    height: auto;
    max-width: 100%;
    display: block;
}

.vid-main {
    display: grid;
    grid-template-columns: repeat(auto-fill, 420px);
    gap: 1em;
    padding: 8px;
    justify-content: center;
}